@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?s9v5dz');
  src:  url('../fonts/icomoon.eot?s9v5dz#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?s9v5dz') format('truetype'),
    url('../fonts/icomoon.woff?s9v5dz') format('woff'),
    url('../fonts/icomoon.svg?s9v5dz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e942";
}
.icon-facebook-square:before {
  content: "\ea91";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-ultrasound:before {
  content: "\e901";
}
.icon-germ-sample:before {
  content: "\e902";
}
.icon-petri-dish:before {
  content: "\e903";
}
.icon-test-tube:before {
  content: "\e904";
}
.icon-microscope:before {
  content: "\e905";
}
.icon-instagram:before {
  content: "\e906";
}
.icon-facebook:before {
  content: "\e907";
}
.icon-twitter:before {
  content: "\e908";
}
.icon-invoice:before {
  content: "\e909";
}
.icon-results:before {
  content: "\e90a";
}
.icon-percentage:before {
  content: "\e90b";
}
.icon-group:before {
  content: "\e90c";
}
.icon-doctor:before {
  content: "\e90d";
}
.icon-hands:before {
  content: "\e90e";
}
