#l-footer{

  background-color: $footer-bg;
  color: $footer-color;
  font-size: rems(12);

  .footer-widgets{
    padding: rems(40) 0;

    a{
      color: $footer-color;
    }

    .widget-item{
      width: 33.33333%;
      padding: 0 rems(20);

      h4{
        font-size: rems(16);
        font-weight: 700;

        &:nth-child(n+2){
          margin-top: rems(30);
        }
      }

      &.widget-menu{



        .links{
          float: left;

          &:first-child{
            padding-right: rems(15);
          }

          &:last-child{
            padding-left: rems(15);
          }
        }

        ul{
          list-style: none;
          padding: 0;
          margin: 0;
        }

      }

      // Menu sucursales
      &.widget-branches{
        ul{
          list-style: none;
          padding: 0;
          margin: 0;
          column-count: 2;
        }
      }

      // Menu promos
      &.widget-promos{

        ul{
          list-style: none;
          padding: 0;
          margin: 0;

          li{
            padding: rems(8) 0;
          }

          .image{
            width: rems(80);

            img{
              width: rems(80);
              height: rems(80);
            }
          }

          .content{
            padding-left: rems(15);

            .name{
              font-weight: 700;
              font-size: rems(13);
              display: block
            }

            .price{
              font-size: rems(16);
              font-weight: 700;
              color: $orange;

              small{
                display: block;
                color: fade-out($footer-color, 0.4);
                line-height: 1;
                font-size: rems(10);
              }
            }

            .description{
              font-size: rems(10);
              display: block;
              color: fade-out($footer-color, 0.4);
              margin-rop: rems(3);
              font-style: italic;
            }

          }
        }

      }

    }
  }

  .footer-copy{
    background-color: fade-out(black, 0.8);
    padding: rems(20);
    text-align: center;

    p{
      margin: 0;
    }
  }

}