#l-page-wrap{

}

@import "topbar";

#laclicsa-header{

  position: sticky;
  top: 0;
  z-index: 400;

  .laclicsa-logo{
    position: absolute;
    top: 50%;
    left: rems(16);
    transform: translateY(-50%);
    padding: rems(8) rems(16);
    background-color: white;
    border-radius: rems(5);
    box-shadow: 0 2px 3px fade-out(black, 0.9);
    z-index: 501;

    img{
      max-width: rems(200);
      max-height: rems(200*.22);
    }
  }

  .laclicsa-menu{
    background-color: $mb-bg-color;
    color: $mb-color;
    font-size: rems(12);
    z-index: 250;

    .nav-link{
      color: $mb-color;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

}
