body.home{

  #main-services{
    background-color: $services-bg;

    .services-container{

      //padding: rems(16) 0;
      //margin-top: rems(-20);
      z-index: 300;
      position: relative;
      font-size: rems(14);

      .service-item{
        width: 33.333333%;
        padding: rems(35);
        background-color: $services-bg;
        color: $services-color;
        display: block;
        text-align: center;

        &:hover{
          text-decoration: none;
        }

        .service-content{
          height: rems(330);
          color: fade-out($services-color, 0.2);
          font-weight: 400;

          .icon-wrapper{
            display: block;
            border: rems(2) solid $services-color;
            border-radius: 50%;
            width: rems(120);
            height: rems(120);
            margin: 0 auto rems(30) auto;
            padding: rems(30);

            > svg{
              max-width: 100%;
              max-height: 100%;
              fill: $services-color;
            }
          }

          h3{
            font-size: rems(25);
            font-weight: 700;
            font-family: $font-family-secondary;
            margin-bottom: rems(25);
            color: $services-color;
          }
        }

        .btn-service{
          background-color: $service-button-bg;
          color: $service-button-color;
          border-radius: 0;
          font-size: rems(16);
          padding: rems(12) rems(18);
        }

        &:nth-child(2){
          background-color: $services-accent-bg;
          color: $services-accent-color;
          margin-top: rems(-16);
          padding: rems(51);
          border-radius: rems(3) rems(3) 0 0;
        }


      }

    }

  }

  #home-quality{
    padding: rems(30);
    text-align: center;

    .isos{
      img{
        max-width: rems(150);
      }
    }
  }


  #home-reviews{
    background-color: $reviews-bg;
    color: $reviews-color;
    padding: rems(30) 0 rems(50);

    h2{
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      font-size: rems(22);
      margin-bottom: rems(30);
    }

    .wp-facebook-reviews{
      display: flex;
      align-items: start;
      justify-content: center;
      font-size: rems(14);

      .wp-facebook-review{
        width: 25%;
        display: flex;
        align-items: start;
        padding: 0 rems(10);

        .wp-facebook-left{
          width: rems(60);

          img{
            width: rems(60);
            border-radius: 50%;
          }
        }

        .wp-facebook-right{
          padding-left: rems(10);

          .wp-facebook-name{
            font-weight: 700;
          }

          .wp-facebook-time{
            font-size: rems(12);
            color: fade-out($body-color, 0.4);
          }

          .wp-facebook-stars{
            display: block;
            svg{
              width: rems(14);
              height: rems(14);
            }
          }

          .wp-facebook-text{
            font-size: rems(13);

            .wp-more{
              display: none;
            }

            .wp-more-toggle{
              display: none;
            }

          }
        }

        &.wp-facebook-hide{
          display: none;
        }
      }
    }
  }

  #home-video{
    padding: rems(50) 0;

    .video-container{
      width: 90%;
      max-width: rems(800);
      margin: 0 auto;
      box-shadow: 0 0 rems(20) fade-out(black, 0.5);
    }
  }

}