#l-topbar{
  background-color: $tb-bg-color;
  top: 0;
  border-bottom: 1px solid fade-out(black, .95);
  box-shadow: 0 1px 5px fade-out(black, .95);
  z-index: 500;

  &:after{
    content: '';
    display: table;
    clear: both;
  }

  .sucursales{
    float: right;

    .caption{
      float: left;
      width: auto;
      line-height: $tb-height;
      font-weight: 700;
      font-size: rems(12);
      color: $tb-color;
      text-transform: uppercase;
      display: block;
      padding: 0 rems(12);
    }

    ul{
      padding: 0;
      margin: 0;
      width: auto;
      height: $tb-height;
      float: left;
      list-style: none;

      > li{

        &:nth-child(n+2){
          display: none;
        }

        > a{
          display: block;
          padding: $tb-buttons-vpadding rems(13) $tb-buttons-vpadding 0;
          font-size: rems(12);
          line-height: rems(16);
          color: $tb-color;

          > .name{
            font-size: rems(10);
            font-weight: 700;
            display: block;
            color: fade-out($tb-color, 0.5);
            text-transform: uppercase;
          }
        }

      }
    }

  }

  ul.buttons{

    float: right;
    list-style: none;
    padding: 0;
    margin: 0;

    > li{
      line-height: rems(16);
      font-size: rems(14);

      > a{
        display: block;
        padding: $tb-buttons-vpadding rems(10) $tb-buttons-vpadding rems(50);
        color: $tb-color;
        border-left: rems(1) solid fade-out(black, 0.95);
        //box-shadow: inset rems(1) 0 0 fade-out(white, 0.75);
        background-size: $tb-icons-size;
        background-repeat: no-repeat;
        background-position: rems(10);
        transition: linear all 250ms;

        .caption{
          display: block;
          font-size: rems(11);
        }

        .content{
          font-weight: 700;
        }

        &:hover{
          text-decoration: none;
          background-color: fade-out($primary, 0.9);
        }

      }

      &.whatsapp-button > a{
        background-image: url(../icons/whatsapp.svg);

      }

      &.facebook-button > a{
        background-image: url(../icons/facebook.svg);
      }

      &.cart-button > a{
        background-image: url(../icons/cart.svg);
      }

      &.customers-button, &.companies-button{
        > a{
          padding-left: rems(15);
          padding-right: rems(15);
        }
      }
    }

  }
}