// COLORS

$colors: (
    "catalina-blue": #0A367A,
        "orange": #ff5705,
        "mystic": #E6EAF1,
        "toty-blue": #0E4BA9
);

$primary: #0A367A;
$orange: #ff5705;
$link-color: $primary;

// Fonts
$font-family-secondary: 'Roboto Condensed';

// TOP BAR
$tb-bg-color: #E6EAF1;
$tb-color: $primary;
$tb-height: rems(50);
$tb-icons-size: rems(28);
$tb-buttons-vpadding: rems((50-32)/2);

// Menu bar
$mb-bg-color: $primary;
$mb-color: $white;

// Services
$services-bg: $primary;//darken(#E6EAF1, 10%);
$services-color: white;
$services-accent-bg: #0E4BA9;//#E6EAF1;
$services-accent-color: white;
$service-button-bg: $primary; //#0D74F5;
$service-button-color: #FFF;

// Reviews
$reviews-bg: #E6EAF1;
$reviews-color: $body-color;

// Footer
$footer-bg: $primary;
$footer-color: white;