.search-your-study {
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 0 0 5px 0;
  font-size: 1.8rem; }

.search-live-field {
  background: url("assets/images/search.svg") no-repeat 10px center;
  background-size: 32px 32px;
  padding-left: 50px; }

.not-find-message {
  font-size: 1.4rem;
  padding: 4px 0;
  text-align: center;
  color: #595959;
  margin-bottom: 30px; }

p.lead {
  font-size: 24px;
  font-size: 2.4rem; }

.widget_search_live_widget {
  margin-bottom: 0;
  padding-bottom: 0 !important; }
