body.analisis-page {

  .site-header{
    margin-top: 47px;
  }

  .tests-list{
    margin-top: 30px;

    > h2{
      margin-bottom: 15px;
    }

    ul{
      list-style: none;
      padding: 0;
      margin: 0 0 0 10px;
      column-count: 3;
      text-align: left;

      > li{
        list-style: none;

        > a{
          padding: 4px 0;
          display: inline-block;
          position: relative;
          padding-left: 22px;

          > .icon{
            position: absolute;
            left: 0; top: 7px;
            font-size: 1.6rem;
            display: block;
            width: 16px;
            height: 16px;
          }
        }

        &.study > a > .icon{
          color: $font-color;
        }

        &.product > a > .icon{
          color: $color-prices-sell;
        }

        &.profile > a > .icon{
          color: $link-color;
        }

      }

      @media(max-width: 1000px){
        column-count: 2;
      }

      @media(max-width: 700px){
        column-count: 1;
      }



    }

    & + .on-sale{
      padding-top: 70px;
    }
  }

  .on-sale{

    ul.products{
      list-style: none;
      padding: 0;
      margin: 0;

      li.product{
        list-style: none;
        width: 30.8%;
        background-color: transparent;
        float: left;
        margin-right: 3.8%;
        margin-bottom: 1.8em;
        position: relative;

        &:nth-child(3n){
          margin-right: 0!important;
        }

        .on-sale{
          position: absolute;
          background-color: $color-prices-sell;
          color: #FFF;
          display: block;
          top: 0; left: 0;
          padding: 4px 8px;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 1.2rem;
          border-radius: 0 0 $border-radius 0;
        }

        .title{
          font-size: 1.8rem;
          font-weight: 700;
          display: block;

          & + .amount{
            font-size: 1.8rem;
            font-weight: 700;
            color: $font-color;
          }
        }

        del{
          font-size: 1.3rem;
          color: lighten(#000, 40%);
        }

        ins{
          font-size: 1.8rem;
          font-weight: 700;
          text-decoration: none;
          color: $color-prices-sell;
        }

        .button{
          display: inline-block;
          padding: 10px 30px;
          text-transform: uppercase;
          font-weight: 700;
          background-color: $main-color;
          color: $main-color-inverse;
          margin-top: 10px;
        }

        table{
          margin: 0;
          border: 0;

          tbody{
            border: 0;
          }

          td{
            padding: 4px 0;
            line-height: 1;
            font-size: 1.3rem;
            border: 0;
            color: lighten(#000, 60%);

            &:first-child{
              padding-right: 3px;
            }

            &:last-child{
              padding-left: 3px;
            }
          }

          .online-price td:first-child{
            font-size: 1.5rem;
            color: $main-color;
          }
        }

        @media(min-width: 601px) and (max-width: 1000px){
          width: 100%;
          margin-right: 0;

          img{
            float: left;
            max-width: 300px;
            margin-right: 20px;
          }

        }

        @media(max-width: 600px){
          width: 100%;
          margin-right: 0;
        }

      }

    }

  }

  .search-live input[type="text"].search-live-field {
    width: 100%;
  }

  /*#genesis-content{
    width: 790px;

    @media only screen and (max-width: 1200px) {
      width: 600px;
    }

    @media only screen and (max-width: 1023px) {
      width: 100%;
    }
  }

  #genesis-sidebar-primary{
    width: 450px;

    @media only screen and (max-width: 1200px) {
      width: 360px;
    }

    @media only screen and (max-width: 1023px) {
      width: 100%;
    }

  }*/

}