.laclicsa-blog{

  article.blog-article{
    overflow: hidden;
    padding: 0;

    > aside{
      float: left;
      width: 350px;
    }

    > header{
      margin-left: 370px;
      margin-bottom: 20px;

      > h2{
        line-height: 1;
        font-size: 2.5rem;
        margin: 0;
      }

      > .meta{
        font-size: 1.3rem;
        color: lighten($font-color, 30%);
      }
    }

    > section{
      margin-left: 370px;

      .more-button{
        background-color: $main-color;
        color: $main-color-inverse;
        padding: 6px 20px;
        font-weight: 700;
        font-size: 1.2rem;
        display: inline-block;
        text-transform: uppercase;
        border-radius: 3px;
        transition: ease all 250ms;

        &:hover{
          background-color: $color-prices-sell;
        }
      }
    }

    // Mobile
    @media(max-width: $screen-phone){

      margin-bottom: 40px;
      padding-bottom: 40px;
      border-bottom: 1px solid fade_out(#000, 0.9);

      > aside{
        float: none;
        width: 100%;
      }

      > header{
        margin-left: 0;
      }

      > section{
        margin-left: 0;

        p:nth-last-child(2){
          margin-bottom: 10px;
        }
      }

    }

  }

}