body.page-template-tpl-budgets {

  .site-header{
    margin-top: 47px;

    @media(max-width: $screen-tablet){
      margin-top: 10px;
    }
  }

  #budget-data {
    width: 80%;
    margin: 0 auto 50px auto;
    overflow: hidden;

    .details {
      float: left;
      width: 70%;
      padding-right: 40px;

      @media(max-width: $screen-tablet){
        float: none;
        width: auto;
        padding: 0;

        h1{
          font-size: 2.5rem;
          text-align: center;
          margin: 30px 0;
        }
      }
    }

    @media(max-width: $screen-tablet){
      width: auto;
    }
  }

  .payment {
    float: left;
    width: 30%;
    color: #0A367A;

    .price {
      text-align: center;
      margin-bottom: 25px;
      background-color: #0A367A;
      padding: 20px;
      border-radius: 5px;
      -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4);
      box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4);

      small {
        font-size: 0.7em;
        font-weight: 700;
        text-transform: uppercase;
        display: block;
        color: rgba(255, 255, 255, 0.5);
        line-height: 1;
      }

      .total {
        font-size: 2.5em;
        font-weight: 700;
        display: block;
        line-height: 1;
        color: #FFF;
      }

      .choose {
        text-transform: uppercase;
        font-weight: 700;
        display: block;
        margin: 20px -20px -20px;
        padding: 10px;
        text-align: center;
        font-size: 1.2rem;
        background-color: #ff5705;
        color: #FFF;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          display: block;
          border-top: 10px solid #ff5705;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          bottom: -10px;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
        }
      }

    }

    .paynow {
      text-align: center;
      margin-bottom: 15px;

      img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
      }

      &.paypal button {
        background-color: #ff5705;
        color: #FFF;
        padding: 0;
        margin-bottom: 15px;
        border-radius: 5px;
        -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4);
        box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4);
      }

      &.openpay-stores,
      &.openpay-cards{

        button {
          width: 100%;
          padding: 15px;
          border: 1px solid #333;
          -webkit-transition: ease all 250ms;
          -o-transition: ease all 250ms;
          transition: ease all 250ms;

          > span {
            display: block;
            margin: 15px -15px -15px;
            padding: 10px;
            background-color: rgba(255, 255, 255, 0.9);

            img:first-child {
              margin-bottom: 10px
            }

          }

          &:hover {
            background-color: #0A367A;
            border-color: #0A367A;
          }

        }

      }

    }

    &.payment-mobile {
      display: none;

      @media(max-width: $screen-tablet){
        display: block;
        margin-top: 50px;
      }

    }

    @media(max-width: $screen-tablet){
      float: none;
      width: auto
    }
  }

  .customer-data {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;

    .data-item {
      overflow: hidden;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding: 5px 15px;

      label {
        font-weight: 700;
        float: left;
        width: 100px;

        @media(max-width: $screen-tablet){
          float: none;
          display: block;
          font-size: 1.4rem;
          color: #000;
        }
      }

      .data-item{
        &:last-child {
          border-bottom: 0
        }
      }

      @media(max-width: $screen-tablet){
        .data-value{
          font-size: 1.6rem;
        }
      }
    }


  }

  .budget-details{

    table {
      width: 100%;

      tbody {
        border: 0;
      }

      thead {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 0.8em;

        th {
          font-weight: 700;
          border-bottom: 2px solid rgba(0, 0, 0, 0.1);
          border-top: 1px solid rgba(0, 0, 0, 0.1);
          background-color: #0A367A;
          color: #FFF;
          padding: 5px 10px;

          @media(max-width: $screen-tablet){
            border-top: 0;
          }
        }
      }

      td {
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        padding: 5px 10px;

        &:first-child {
          width: 60px;
          text-align: center;
          border-left: 1px solid rgba(0, 0, 0, 0.1);
        }

        &:nth-child(3) {
          text-align: right;
          max-width: 150px;
          border-left: 1px solid rgba(0, 0, 0, 0.1);
        }

        &:nth-child(4) {
          text-align: right;
          max-width: 150px;
          border-left: 1px solid rgba(0, 0, 0, 0.1);
          border-right: 1px solid rgba(0, 0, 0, 0.1);
        }

        @media(max-width: $screen-tablet){
          white-space: nowrap;
        }

      }

      .total{
        td{
          &:first-child {
            border-left: 0;
            border-bottom: 0
          }

          &:nth-child(2) {
            text-align: right;
            font-weight: 700;
            border-left: 0;
            border-bottom: 0
          }

          &:nth-child(3) {
            border: 1px solid rgba(0, 0, 0, 0.1)
          }
        }
      }

    }

    @media(max-width: $screen-tablet){

      .table-responsive {
        overflow-x: auto;
        width: 100%;
        display: block;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        margin-bottom: 30px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        max-height: 80vh;

        th{

          padding: 5px 10px;
          font-weight: 800;
          white-space: nowrap;

          .small {
            display: inline;
          }

          .large {
            display: none;
          }

        }

        td {
          font-size: 1.4rem;

          &:first-child {
            border-left: 0
          }

          &:last-child {
            border-right: 0!important
          }
        }
      }

    }

  }

  #payment-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
  }

  #openpay-cards-modal,
  #openpay-stores-modal {
    display: none;
  }

  .openpay-modal {
    position: fixed;
    width: 700px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #FFF;

    @media(max-width: 768px){
      width: 95%;
      position: absolute;
    }

    h2 {
      background-color: #0A367A;
      font-weight: 700;
      padding: 15px;
      font-size: 2rem;
      color: #FFF;
      text-align: center;
      text-transform: uppercase
    }

    .pymnt-itm .card-expl {
      height: 80px;
      margin: 20px 0
    }

    .pymnt-itm .card-expl{

      @media(max-width: 768px){
        display: none;
      }

      div {
        background-position: left 45px;
        background-repeat: no-repeat;
        height: 70px;
        padding-top: 10px;

        img {
          max-width: 100%;
        }

        &.debit {
          width: 70%;
          float: left;
          padding-left: 15px;
          padding-right: 30px;
        }

        &.credit {
          border-right: 1px solid #ccc;
          float: left;
          padding-left: 30px;
          padding-right: 15px;
          width: 30%;
        }

      }

      h4 {
        font-weight: 400;
        margin: 0 0 10px;
      }

    }

    .pymnt-itm .pymnt-cntnt .sctn-row {
      margin-bottom: 30px;
      padding: 0 30px;

      &:after {
        content: '';
        display: table;
        clear: both;
      }

    }

    .pymnt-itm .pymnt-cntnt label {
      display: block;
      font-weight: 700;
      margin-bottom: 10px;
    }

    .pymnt-itm .pymnt-cntnt input::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.5)
    }

    .pymnt-itm .pymnt-cntnt input:-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.5)
    }

    .pymnt-itm .pymnt-cntnt input::-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.5)
    }

    .pymnt-itm .pymnt-cntnt input::placeholder {
      color: rgba(0, 0, 0, 0.5)
    }

    .pymnt-itm .pymnt-cntnt .logo {
      border-right: 1px solid rgba(0, 0, 0, 0.2);
      float: left;
      width: 30%;
      margin-left: 25%;

      @media(max-width: 768px){
        float: none;
        width: 100%;
        border-right: 0;
        margin-left: 0;
      }
    }

    .pymnt-itm .pymnt-cntnt .shield {
      font-size: 1.2rem;
      font-weight: 500;
      float: left;
      width: 45%;
      padding-left: 30px;

      @media(max-width: 768px){
        float: none;
        width: 100%;
        padding-left: 0;
      }
    }

    .pymnt-itm .pymnt-cntnt .shield img {
      float: left;
      margin-right: 1rem
    }

    .info-container {
      padding: 3rem;

      .scnt-row {
        margin-bottom: 2rem;

        &:after {
          content: '';
          display: table;
          clear: both;
        }

        >div {
          text-align: center;
          font-size: 1.2rem;

          img {
            display: block;
            margin: 0 auto 1rem auto
          }

        }

      }

    }

  }


}