body.page-template-tpl-campaign{
  .site-header{
    margin-top: 47px;

    @media(max-width: $screen-tablet){
      margin-top: 10px;
    }
  }

  h2{
    text-transform: uppercase;
    font-size: 2.2rem;
    //border-bottom: 1px solid fade_out(black, 0.8);
  }

  .promo-container{
    margin-bottom: 2rem;
    h3{
      font-size: 1.8rem;
      margin-top: 1rem;
    }

    .prices{
      font-size: 1.3rem;
      font-weight: 400;
      margin-bottom: 1rem;

      td{
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        line-height: 1;
        border: 0;
        color: fade_out(black, 0.4);
      }

      tr.online-price{
        font-size: 1.5rem;
        td{
          color: $main-color;

          ins{
            color: $color-prices-sell;
            font-weight: 700;
          }
        }
      }
    }

  }

  .sucursales-bar{
    background-color: fade_out(black, 0.95);
    padding: 2rem;
    border-radius: 5px;
  }

  .sucursal-container{
    margin-bottom: 2rem;

    img{
      border: 1px solid fade_out(black, 0.8);
      padding: 1px;
    }

    &:last-child{
      margin-bottom: 0;
    }

    h3{
      font-size: 1.6rem;
      margin-top: 1rem;
    }

    p{
      font-size: 1.4rem;
      margin-bottom: 1rem;
      font-weight: 400;
    }


  }

  .btn{
    display: inline-block;
    padding: 0.6rem 1.5rem;
    background-color: $main-color;
    color: white;
    font-size: 1.4rem;
    font-weight: 700;
    transition: ease all 250ms;

    &:hover{
      background-color: darken($main-color, 10%);
    }
  }
}