.laclisa-contact-options{
  list-style: none;
  padding: 0;
  margin: 0!important;

  li{
    list-style: none!important;
    list-style-type: none;

    .icon{
      font-size: 0.9em;
    }
  }

  .title{
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 14px;
    font-size: 1.4rem;
    margin: 20px 0 5px;
  }

  @media (max-width: $screen-tablet){
    margin-bottom: 20px!important;
  }

}