#laclicsa-companies-page{
  margin-bottom: 40px;

  &:after{
    content: '';
    display: table;
    clear: both;
  }
}

.laclicsa-page-empresas{

  display: table;
  width: 100%;

  &:after{
    content: '';
    display: table;
    clear: both;
  }

  > .column{
    display: table-cell;
    width: 50%;
    padding: 20px;
    border: 1px solid fade_out(#000, 0.85);
  }

  .credits{
    list-style: none;
    padding: 0;
    margin: 20px 0;
    font-size: 14px;
    font-size: 1.4rem;

    > li{
      list-style: none;
      background: url("assets/images/badge.svg") no-repeat 0 5px;
      background-size: 16px 16px;
      padding-left: 26px;
    }
  }

  @media( max-width: $screen-tablet ){
    display: block;

    > .column{
      display: block;
      width: 100%;
    }
  }

}

.laclicsa-empresas-contact{

  .contact-card-overlay{
    background-color: fade_out(#000, 0.3);
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    display: none;
  }

  .contact-card{
    background-color: #FFF;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 30px 30px 30px 70px;
    border-radius: 3px;
    transform: translate(-50%, -50%);
    display: none;
    box-shadow: 0 0 25px fade_out(#000, 0.5);

    .close{
      display: block;
      font-size: 18px;
      font-size: 1.8rem;
      position: absolute;
      top: 0px;
      right: 5px;
      line-height: 1;
      padding: 10px;
      font-weight: 400;
      cursor: pointer;
    }

    .contact-icon{
      font-size: 48px;
      position: absolute;
      top: 25px; left: 10px;
      display: block;
      color: fade_out(#000, 0.8);
      width: 48px;
      height: 48px;
    }

    > ul{
      list-style: none;
      padding: 0;
      margin: 0;

      > li{
        list-style: none;


        &.name{
          font-weight: 700;
          line-height: 1.3;
        }

        &.position{
          font-size: 13px;
          font-size: 1.3rem;
          line-height: 1;
          margin-bottom: 10px;
        }

        &.phone, &.email, &.cellphone{
          font-weight: 400;
          font-size: 14px;
          font-size: 1.4rem;

          .dashicons{
            font-size: 15px; font-size: 1.5rem;
          }
        }

        &.email{

          .dashicons{
            margin-top: 3px;
          }

          > i:before{
            content: '@';
            font-style: normal;
          }

          > em:before{
            content: '.';
            font-style: normal;
          }
        }
      }
    }

  }

}