.gs-faq{

  > button{
    background-color: transparent;
    border: 1px solid fade_out($font-color, 0.7);
    color: $font-color;
    font-weight: 700;
    padding: 10px 20px;
    position: relative;
    transition: ease all 250ms;

    &:focus{
      outline: 0;
    }

    &:before{
      content: '';
      display: block;
      width: 10px;
      height: 2px;
      background-color: $font-color;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      transition: ease all 500ms;
    }

    &:after{
      content: '';
      display: block;
      width: 2px;
      height: 10px;
      background-color: $font-color;
      position: absolute;
      top: 50%;
      right: 24px;
      transform: translateY(-50%);
      transition: ease all 500ms;
    }

    &:hover:not(.gs-faq--expanded){
      background-color: $main-color;
      color: $main-color-inverse;

      &:before, &:after{
        background-color: $main-color-inverse;
        transform: translateY(-50%) rotate(-180deg);
      }
    }

    &.gs-faq--expanded{
      background-color: $main-color;
      color: $main-color-inverse;

      &:before{
        background-color: $main-color-inverse;
      }

      &:after{
        display: none;
      }
    }
  }

}