.site-header{
  box-shadow: 0 2px 3px fade_out(#000, .8);
  background-color: fade_out(#FFF, 0.2);
  margin-top: 0;//47px;

  > .wrap{
    padding: 0;
  }

  .genesis-nav-menu a {
    padding: 32px 10px;
    font-size: 1.4rem;
    transition: ease all 250ms;

    &:hover{
      background-color: $main-color;
      color: $main-color-inverse;
      text-decoration: none;
    }

    @media(min-width: $screen-tablet) and (max-width: $screen-desktop){
      padding: 32px 5px;
    }
  }

  .widget-area{
    display: none;
  }

  @media(max-width: $screen-laptop - 1){

    position: relative;

    > .wrap{
      position: relative;
      padding: 0;
    }

    .widget-area{
      display: block;
      position: absolute;
      top: 10px; right: 10px;
      width: 50px;
      height: 65px;
      padding-top: 5px;

      > button{

        background-color: transparent;
        transition: ease all 300ms;
        border: 0;
        outline: 0;
        padding: 15px 10px;

        .sr-only{
          display: none;
        }

        > .line{
          height: 4px;
          background-color: $main-color;
          width: 30px;
          display: block;
          transition: ease all 300ms;

          & + .line{
            margin-top: 4px;
          }
        }

        &.open{
          background-color: $main-color;

          > .line{
            background-color: $main-color-inverse;

            &:nth-child(3){
              opacity: 0;
            }

            &:nth-child(2){
              transform: translateY(8px) rotate(45deg);
            }

            &:nth-child(4){
              transform: translateY(-8px) rotate(-45deg);
            }

          }
        }

      }
    }

  }

  @media(max-width: $screen-phone){

    margin-top: 33px;

    > .wrap{
      padding-top: 10px;
    }

    .widget-area{
      width: 40px;
      height: 40px;
      padding: 0;

      > button{
        padding: 12px 10px;

        > .line{
          height: 3px;
          width: 20px;

          & + .line{
            margin-top: 3px;
          }
        }

        &.open{
          background-color: $main-color;

          > .line{
            background-color: $main-color-inverse;

            &:nth-child(3){
              opacity: 0;
            }

            &:nth-child(2){
              transform: translateY(6px) rotate(45deg);
            }

            &:nth-child(4){
              transform: translateY(-6px) rotate(-45deg);
            }

          }
        }

      }

    }

    .nav-primary{
      .genesis-nav-menu{
        .menu-item{
          a{
            color: #FFF;
          }

        }
      }
    }

  }

}

.header-image{

  .title-area{
    margin: 0;

    .site-title{
      text-indent: 0;

      > a{
        min-height: 50px;
        padding: 10px 0;
        > img{
          max-height: 50px;
          width: auto;
        }
      }
    }
  }

  @media(max-width: $screen-laptop - 1){
    .site-header{
      > .wrap{
        padding: 0;
        max-width: 100%!important;
        width: 100%;
      }
    }
  }

  .nav-primary{
    float: right;
    border-top: 0;
    background-color: transparent;
    text-transform: uppercase;

    .genesis-nav-menu{

      .menu-item{

        transition: ease all 250ms;

        .sub-menu{
          border-bottom:  5px solid $main-color;

          li{
            border-bottom: 1px solid lighten(#000, 90%);

            &:last-child{
              border-bottom: 0;
            }
          }

          a{
            padding: 20px;
            color: $main-color;
            text-transform: none;
            border: 0;
            font-weight: 700;

            &:hover{
              color: $main-color-inverse;
            }
          }
        }

        &:last-child{

          > .sub-menu{
            right: 34px;
          }

        }

        &.searching{
          width: 1px;
          overflow: hidden;
        }

      }

      .menu-item-type-search{

        float: left;
        overflow: hidden;
        transition: ease all 250ms;
        position: relative;
        width: 110px;

        > form{

          position: relative;
          width: 100%;
          height: 78px;

          input{
            position: absolute;
            top: 20px; left: 0; bottom: 20px; right: 19px;
            border-radius: 25px 0 0 25px;
            padding-right: 19px;
            font-size: 14px;
            font-size: 1.4rem;
            width: calc(100% - 19px);
            transition: ease all 250ms;
            padding-top: 0;
            padding-bottom: 0;
            height: 38px;
          }

          button{
            position: absolute;
            top: 20px; right: 0; bottom: 20px;
            border-radius: 50%;
            padding: 0;
            width: 38px;
            text-align: center;
            background-color: $main-color;
            color: $main-color-inverse;
          }

        }

        &.active{
          width: 200px;

          @media(min-width: $screen-tablet) and (max-width: $screen-desktop){
            width: 150px;
          }
        }

        @media(max-width: $screen-laptop - 1){
          display: none;
        }

      }

    }

    /*
    NAV MENU on small devices
     */

    @media(max-width: $screen-laptop - 1){
      float: none;
      display: none;
      clear: both;

      > .wrap{
        padding: 0;
        max-width: 100%!important;
        width: 100%;
      }

      .genesis-nav-menu{
        text-align: left;
        background-color: $main-color;

        > li{
          float: none;
          display: block;
          border-bottom: 1px solid fade_out(#FFF, 0.95);

          > a{
            padding: 15px;
            border-bottom: 1px solid fade_out(#000, 0.9);
            color: $main-color-inverse;

            &.sf-with-ul{
              position: relative;
              &:after{
                content: '';
                display: block;
                border-top: 6px solid #FFF;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                position: absolute;
                right: 15px; top: 50%;
                transform: translateY(-50%);
              }
            }

          }

          > .sub-menu{
            background-color: $submenu-bg;
            color: $submenu-color;
            position: static;
            width: 100%;
            margin: 0;
            border-top: 1px solid fade_out(#FFF, 0.9);
            display: block;

            > li{
              display: block;
              border-bottom: 1px solid fade_out(#FFF, 0.9)!important;

              > a{
                background-color: $submenu-bg;
                color: fade_out($submenu-color, 0.3)!important;
                display: block;
                width: 100%;
                padding: 12px 15px 12px 20px !important;
                border-bottom: 1px solid fade_out(#000, 0.9)!important;
                font-size: 14px;
                font-size: 1.4rem;
              }

            }
          }

        }

      }

    }

  }

  @media(max-width: $screen-phone){

    .title-area .site-title{

      padding: 0;

      > a{

        padding: 0;
        min-height: 40px;
  
        > img{
          max-height: 40px;
        }
  
      }

    }

  }

}

.home{
  .site-header{
    //background: transparent;
  }

  .nav-primary{
    background-color: transparent;

    .genesis-nav-menu{
      .menu-item{
        a{
          color: #FFF;
        }

      }
    }

  }
}

.page, .single-profile, .single-study{
  .site-header{
    //position: absolute;
    top: 0; left: 0; right: 0;

    @media(max-width: $screen-laptop - 1){
      position: static;
    }

  }
}