.home{

  .site-header{
    margin-top: 47px;
  }

  #laclicsa-top-menu{
    //background-color: transparent;
    //border-bottom: 1px solid fade_out(#FFF, 0.9);
  }

  .site-header{
    position: absolute;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background-color: fade_out(#FFF, 0.9);
    box-shadow: 0 2px 2px fade_out(#000, 0.9);
    border-bottom: 1px solid fade_out(#FFF, 0.9);
    transition: ease all 250ms;

    > .wrap{
      padding: 10px 0;
    }

    @media(max-width: $medium-size - 1){
      position: static;
      border-bottom: 1px solid fade_out(#000, 0.9);

      > .wrap{
        padding-bottom: 0;
      }

      .widget-area{
        top: 18px;
      }
    }

  }

  &.header-image{
    .site-title{
      a{
        background-color: fade_out(#FFF, 0.8);
        border-radius: 7px;
        //box-shadow: 0 2px 3px rgba(0,0,0,0.3);
        padding: 10px 20px;
        min-height: auto;

        img{
          display: block;
          max-height: 50px;
          width: auto;
        }

        @media(max-width: $screen-phone){

          //background-color: transparent;

          img{
            max-height: 40px;
          }

        }

      }
    }
  }

  /* HOME SLIDER */
  #home-slider{
    position: relative;

    .slider-overlay{
      background-color: fade_out(#000, 0.5);
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
    }
  }

  // Servicios: columnas
  #main-services{
    background-color: $main-color;

    > .site-inner{
      padding-top: 0;
      display: table;
      width: 100%;
      max-width: 1500px;

      // Small screens
      @media(max-width: $medium-size){
        display: block;
        padding: 0;
      }

    }

    &:after{
      content: '';
      display: table;
      clear: both;
    }

    .service-column{
      width: 33.33333333%;
      padding: 40px 20px 120px;
      color: $main-color-inverse;
      display: table-cell;
      position: relative;

      &:nth-child(2){
        background-color: lighten($main-color, 10%);
      }

      .service-item{
        text-align: center;
        position: relative;

        > .icon-wrapper{
          display: block;
          width: 100px;
          height: 100px;
          margin: 0 auto 25px auto;
          border-radius: 50%;
          border: 2px solid $main-color-inverse;
          line-height: 1;
          text-align: center;
          padding: 30px 0;
          color: $main-color-inverse;
          transition: ease all 250ms;

          .icon{
            font-size: 40px;
          }

          &:hover{
            background-color: $main-color;
            color: $main-color-inverse;
          }
        }

        > h2{
          font-size: 2.5rem;
          font-weight: 700;
          margin: 0 0 15px;
          color: $main-color-inverse;

          > a{
            color: $main-color-inverse;
          }
        }

        > p{
          color: fade_out($main-color-inverse, .4);
          margin: 0;
        }

      }

      .clearfix{
        display: none;
      }

      > .button{
        font-weight: 400;
        position: absolute;
        bottom: 40px; left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
      }

      @media(max-width: $medium-size){
        width: 50%;
        display: block;
        float: left;

        &:nth-child(2){
          background-color: $main-color;
        }

        &:nth-child(4){
          width: 100%;
          float: none;
          background-color: lighten($main-color, 10%);
        }

        .clearfix{
          display: block;
        }

      }

      @media(max-width: $small-size){
        width: 100%;
        display: block;

        &:nth-child(2){
          background-color: lighten($main-color, 10%);
        }

        &:nth-child(4){
          background-color: $main-color;
        }

      }

    }

  }

  &.light-bg{
    @media(min-width: $medium-size){
      .site-header{
        background-color: fade_out($topbar-color, 0.5);
        color: $main-color!important;
        a, .caption, .name{
          color: $main-color!important;
        }

        a:hover{
          color: $main-color-inverse!important;
        }
        .buttons a{
          color: $main-color-inverse!important;
        }
      }

      .my-cart-button > a{
        background-image: url("assets/images/cart-blue.svg")!important;
      }
    }
  }

  #laclicsa-home-banner{
    padding: 50px 0;
    text-align: center;
    display: block;

    > .wrap{
      width: 80%;

      p{
        margin: 30px 0 0;
        font-size: 2.6rem;
        font-weight: 300;
      }

      .isos{
        margin: 15px 0 0;

        img{
          width: 150px;
          height: auto;
        }
      }
    }

  }

  #laclicsa-home-medics{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &:after{
      content: '';
      clear: both;
      display: table;
    }

    .icon{
      font-size: 4.8rem;
      color: #FFF;
    }

    .overlay{
      background-color: fade_out(#FFF, 0.5);
    }

    .medics{
      width: 50%;
      float: left;
      text-align: right;
      padding: 40px;
    }

    .business{
      float: left; width: 50%;
      padding: 40px;
    }

  }

  #lacs-video{
    text-align: center;
    padding: 60px 0 60px;
    background: lighten(#000, 95%);
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;

    @media(max-width: 768px){
      padding: 0;
    }

    .video-container{
      width: 760px;
      margin: 0 auto;
      box-shadow: 0 0 25px fade_out(#000, 0.4);

      @media(max-width: 768px){
        width: 100%;
      }

    }

    .embed-responsive {
      position: relative;
      display: block;
      height: 0;
      padding: 0;
      overflow: hidden;
      margin: 0 auto;

      & .embed-responsive-item,
      & iframe,
      & .object,
      & video {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
      }
    }

    .embed-responsive-16by9 {
      padding-bottom: 56.25%;
    }
  }

  /* FACEBOOK REVIEWS */
  section#lacs-reviews{
    background-color: fade-out($color: #000000, $amount: 0.95);
    padding: 4rem 0;

    h2{
      text-align: center;
      font-size: 2rem;
      margin: 0 0 2rem;
      text-transform: uppercase;
    }

    .wp-facebook-reviews{
      overflow: hidden !important;

      .wp-facebook-review{
        width: 25% !important;
        float: left !important;
        padding: 0 10px !important;

        .wp-facebook-text{
          display: block;
          color: lighten(#000, 30%) !important;
          font-size: 1.3rem!important;
        }

        @media(max-width: $screen-laptop){
          width: 50% !important;
          min-height: 140px;
          
          a{
            display: none !important;
          }
        }

        @media(max-width: 575px){
          float: none !important;
          width: 100% !important;
          padding: 0 0 1.5rem !important;
          margin-bottom: 1.5rem !important;
          border-bottom: 1px solid fade-out($color: #000000, $amount: 0.9) !important;

          &:nth-child(n+3){
            border-bottom: 0 !important;
            padding-bottom: 0 !important;
            margin-bottom: 0 !important;
          }

          &:nth-child(n+4){
            display: none !important;
          }
        }

      }
    }
  }


  #lacs-promo{
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 15rem;
  }

}