#laclicsa-page-title{
  padding: $title-padding 0 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  //box-shadow: 0 2px 3px fade_out($main-color, 0.8);

  > .overlay{
    background-color: $main-color;
    padding: 50px 0;
  }

  img{
    width: 70px;
    height: auto;
  }

  h1{
    color: #FFF;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    //text-shadow: 0 1px 1px fade_out(#FFF, 0.2);

    > small{
      font-size: 1.6rem;
      font-weight: normal;
      display: block;
    }

  }

  &.with-quality{

    .wrap{
      text-align: left;
      position: relative;

      h1{
        text-align: center;

        @media( min-width: 550px ){
          text-align: left;
        }
      }

      .quality-logos{

        text-align: center;
        margin-top: 20px;

        a{
          display: block;
          line-height: 1;
          outline: none;
        }

        img{
          height: 70px;
          width: auto;
          line-height: 1;
        }


        @media( min-width: 550px ){
          position: absolute;
          margin-top: 0;
          right: 0; top: 50%;
          transform: translateY(-50%);

          img{
            height: 90px;
          }
        }

      }
    }

  }

  @media(max-width: $screen-phone){
    padding-top: 78px;
  }

  @media(max-width: $screen-laptop - 1){
    padding-top: 0;
    background: none;

    h1{
      font-size: 3rem;
    }

  }


}

ul.test-indications{
  padding-left: 15px;
  margin-left: 10px;
  > li{
    list-style: disc;
  }
}

ul.profile-tests{
  > li{

    > a{
      display: inline-block;
      position: relative;
      padding: 3px 0 3px 23px;

      > .icon{
        display: block;
        position: absolute;
        top: 7px; left: 0;
      }
    }

  }
}

.page-on-sale{

  ul.products{
    list-style: none;
    padding: 0;
    margin: 0;

    li.product{
      list-style: none;
      width: 48.1%;
      background-color: transparent;
      float: left;
      margin-right: 3.8%;
      margin-bottom: 1.8em;
      position: relative;

      &:nth-child(2n){
        margin-right: 0!important;
      }

      .on-sale{
        position: absolute;
        background-color: $color-prices-sell;
        color: #FFF;
        display: block;
        top: 0; left: 0;
        padding: 4px 8px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.2rem;
        border-radius: 0 0 $border-radius 0;
      }

      .title{
        font-size: 1.8rem;
        font-weight: 700;
        display: block;

        & + .amount{
          font-size: 1.8rem;
          font-weight: 700;
          color: $font-color;
        }
      }

      del{
        font-size: 1.3rem;
        color: lighten(#000, 40%);
      }

      ins{
        font-size: 1.8rem;
        font-weight: 700;
        text-decoration: none;
        color: $color-prices-sell;
      }

      .button{
        display: inline-block;
        padding: 10px 30px;
        text-transform: uppercase;
        font-weight: 700;
        background-color: $main-color;
        color: $main-color-inverse;
        margin-top: 10px;
      }

      @media(min-width: 601px) and (max-width: 1000px){
        width: 100%;
        margin-right: 0;

        img{
          float: left;
          max-width: 300px;
          margin-right: 20px;
        }

      }

      @media(max-width: 600px){
        width: 100%;
        margin-right: 0;
      }

    }

  }

}