body.page-template-tpl-vrim{

  .site-inner{
    padding: 0;
    max-width: none;
    width: 100%;
    position: relative;
    height: calc(100% - 459px);
  }

  #promos-container{
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vh;
    padding: 60px 0;
    position: relative;
    background-position: center;

    .promos-wrap{
      position: absolute;
      bottom: 100px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      max-width: 1280px;

      @media(max-width: 1340px){
        max-width: 1140px;
      }

      @media(max-width: 1200px){
        max-width: 960px;
      }

      @media(max-width: 1023px){
        max-width: 800px;
      }

      @media(max-width: $screen-tablet){
        padding: 0 20px;
      }

      @media(max-width: $screen-phone){
        bottom: 30px;
        padding: 100px 20px 0;
      }

      > .promo-item{
        //display: inline-block;
        width: 350px;
        position: relative;
        padding-right: 20px;
        margin-bottom: 20px;

        &:last-child{
          margin-bottom: 0;
        }

        > .valid{
          font-size: 1.3rem;
          color: #FFF;
          text-shadow: 1px 1px 0 fade_out(#000, 0.5);
        }

        > .item-bg{
          background-color: #FFF;
          border-radius: 5px;
          padding: 10px 15px 15px;
          box-shadow: 3px 3px 8px fade_out(#000, 0.7);
          padding-right: 110px;
          min-height: 75px;
          position: relative;

          > h2{
            font-size: 2.5rem;
            font-weight: 700;
            color: $main-color;
            margin: 0;
            line-height: 1.2;

            &.big-title{
              font-size: 3.5rem;
            }
          }

          > .regular{
            display: block;
            font-size: 1.1rem;
            text-align: right;
            position: absolute;
            bottom: 3px;
            right: 110px;
          }

          > .price{
            background-color: $main-color;
            color: $main-color-inverse;
            display: block;
            position: absolute;
            bottom: -10px;
            right: -20px;
            font-size: 2.8rem;
            font-weight: 700;
            text-align: center;
            padding: 15px 20px;
            line-height: 1;
            width: 120px;
            border-radius: 6px;
            box-shadow: 3px 3px 8px fade_out(#000, 0.7);

            > .iva{
              font-size: 1.3rem;
              display: block;
              font-weight: 400;
            }
          }

        }

        @media(max-width: $screen-phone){
          width: 100%;
          max-width: 300px;
          padding-right: 0;

          > .item-bg{
            min-height: 73px;

            > h2{
              font-size: 2rem;

              &.big-title{
                font-size: 2.5rem;
              }
            }

          }
        }
      }

    }
  }

}