.single-profile, .single-study{

  .site-header{
    margin-top: 47px;

    @media(max-width: 768px){
      margin-top: 10px;
    }
  }

  .search-live{

    .search-live-field{
      background: url("assets/images/search.svg") no-repeat;
      background-size: auto 40%;
      background-position: right 10px center;
    }

  }

  table td.price{
    > span {
      font-size: 18px;
      font-size: 1.8rem;
      display: block;
      line-height: 1;
      margin-top: 10px;
    }

    .price-legend{
      font-size: 0.8em;
      color: lighten($font-color, 30%);
      font-style: italic;
      margin-top: 0;
      margin-bottom: 10px;
    }

    .member-info{
      display: block;
    }

    .member-button{
      display: inline-block;
      padding: 4px 10px;
      font-size: 0.7em;
      font-weight: 700;
      text-transform: uppercase;
      background-color: $main-color;
      color: $main-color-inverse;
      margin: 3px 0 6px;
      transition: ease all 250ms;

      &:hover{
        background-color: $color-prices-sell;
      }

    }
  }

}