html.sucursales-html, body.single-sucursales{
  height: 100%;
}

body.single-sucursales{

  .site-header{
    margin-top: 47px;

    @media(max-width: 768px){
      margin-top: 10px;
    }
  }

  .widget{
    margin-bottom: 20px;
  }

  #laclicsa-top-menu{
    .buttons{
      display: none;
    }
  }

  header{
    position: absolute;
    top: 0; left: 0; right: 0;
    background-color: fade_out(#FFF, 0.35);
  }

  #laclicsa-page-title > .overlay{
    background-color: fade_out(#000, 0.75);
    padding: 120px 0;
  }
}

#sucursal-page{
  padding: 40px;

  &:after{
    content: '';
    display: table;
    clear: both;
  }

  .info{
    //float: left;
    //width: 40%;
    //padding-right: 20px;
  }

  .map{
    //float: left;
    //width: 60%;
    padding-top: 40px;
  }

  .sucursal-data{

    &:after{
      content: '';
      display: table;
      clear: both;
    }

    > ul{
      list-style: none;
      padding: 0 0 0 15px;
      margin: 0;

      > li{
        list-style: none;
        padding: 5px 0 5px 10px;
        margin-bottom: 6px;
        paddig-left: 20px;

        > label{
          font-weight: 700;
          display: block;
          font-size: 1.2rem;
          text-transform: uppercase;
          color: lighten(#000, 40%);
          margin-left: -10px;
        }

        > ul{

          padding-left: 20px;

          > li{
            list-style-type: disc;
          }

        }

        &:first-child{
          width: 50%;
          float: left;
          padding-right: 20px;
          padding-left: 0;
        }

      }

    }

  }

  .sucursal-other{
    float: left;
    width: 50%;
  }

  @media(max-width: 800px){
    .info{
      float: none;
      width: 100%;
      margin-bottom: 20px;
    }

    .map{
      float: none;
      width: 100%;
      margin-bottom: 20px;
    }
  }

}

#map-container{
  height: 400px;

  div[class^="wpgmp_display_map_"],.wpgmp_map_container{
    height: 100%;
  }

}

// Lista de Sucursales
.sucursales-title{
  text-align: center;
}

.laclicsa-sucursales{

  &:after{
    content: '';
    display: table;
    clear: both;
  }

  .show-in-two{
    display: none;
  }

  > article {
    float: left;
    width: 31%;
    margin-right: 3.5%;
    margin-bottom: 0;

    &[data-three="3"]{
      margin-right: 0;
    }

    @media(max-width: $screen-tablet){
      width: 48%;
      margin-right: 4%;

      &[data-three="3"]{
        margin-right: 4%;
      }

      &[data-two="2"]{
        margin-right: 0;
      }
    }

    @media(max-width: $screen-phone){
      width: 100%;
      margin-right: 0;

      &[data-three="3"]{
        margin-right: 0;
      }
    }

  }

  @media(max-width: $screen-tablet){
    .show-in-three{
      display: none;
    }

    .show-in-two{
      display: block;
    }
  }

  @media(max-width: $screen-phone){
    .show-in-three{
      display: none;
    }

    .show-in-two{
      display: none;
    }
  }

}

body.page-template-tpl-sucursales{

  .site-header{
    margin-top: 47px;
  }

  .site-inner{
    padding: 0;
    max-width: none;
    width: 100%;
    position: relative;

    #sucursales-map{
      height: 85vh;
    }
  }

}

.sucursal-info{

  &:after{
    content: '';
    display: table;
    clear: both;
  }

  .title{
    font-weight: 700;
    display: block;
    font-size: 1.2em;
    padding-bottom: 5px;
    text-transform: uppercase;
    text-align: center;
  }

  .featured-image{
    float: left;
    padding-right: 10px;
  }

  address{
    display: block;
    margin-bottom: 10px;
    font-style: normal;
    margin-left: 160px;
    max-width: 200px;
    > b{
      display: block;
    }
  }

  .phone{
    margin-bottom: 15px;
    > strong{
      display: block;
    }
  }

  a{
    font-weight: 700;
  }

}

#map-controls{
  padding: 15px 0;
  text-align: center;
  background-color: darken($main-color, 10%);

  > button{
    background-color: $main-color;
    color: $main-color-inverse;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 0.8em;
  }
}