#lacs-testimonials{

  margin: 20px 0;
  padding: 2rem;
  border-radius: 6px;
  border: 1px solid fade_out(#000, 0.9);

  > h2{
    font-size:2rem;
    font-weight: 700;
    margin: 0 0 40px;
    text-align: center;
    text-transform: uppercase;
    color: $main-color;
  }

  > ul{
    list-style: none;
    padding: 0;
    margin: 0;

    &:after{
      content: '';
      display: table;
      clear: both;
    }

    > li{
      list-style: none;
      float: left;

      &:before{
        content: '';
      }

      > div{
        padding: 0 1rem;

        > img{
          border-radius: 50%;
          width: 100%;
          max-width: 13rem;

        }

        > h3{
          font-weight: 700;
          color: $main-color;
          margin: 1rem 0 0;
        }

        > strong{
          font-size: 1.3rem;
          font-weight: 400;
          display: block;
          margin-bottom: 1rem;
          color: #000;
        }

        > p{
          color: fade_out($font-color, 0.3);
          font-size: 1.4rem;
          line-height: 1.5;
          font-weight: 400;
        }
      }
    }
  }

}