#lacs-testimonials{

  margin: 20px 0;
  padding: 2rem 0;
  border-radius: 6px;
  border-top: 1px solid fade_out(#000, 0.9);
  border-bottom: 1px solid fade_out(#000, 0.9);

  > h2{
    font-size:2rem;
    font-weight: 700;
    margin: 0 0 40px;
    text-transform: uppercase;
    color: $main-color;
  }

  > ul{
    list-style: none;
    padding: 0;
    margin: 0;

    > li{
      list-style: none;
      width: 100% !important;
      padding: 0;
      margin-bottom: 1.5rem;

      &:after{
        content: '';
        display: table;
        clear: both;
      }

      &:before{
        content: '';
      }

      > div{
        padding: 1rem 0;

        > img{
          border-radius: 50%;
          width: 100%;
          max-width: 11rem;
          float: left;
        }

        > h3{
          font-weight: 700;
          color: $main-color;
          margin: 0 0 0 12.5rem;
        }

        > strong{
          font-size: 1.3rem;
          font-weight: 400;
          display: block;
          margin: 0 0 1rem 12.5rem;
          color: #000;
        }

        > p{
          color: fade_out($font-color, 0.3);
          font-size: 1.4rem;
          line-height: 1.5;
          font-weight: 400;
          margin: 0 0 0 12.5rem;
        }
      }
    }
  }

}