/** MENU SUPERIOR **/
#laclicsa-top-menu{
  background-color: $main-color;
  color: $main-color-inverse;
  line-height: 1;
  padding: 0;
  font-size: 1.3rem;
  text-transform: uppercase;
  position: sticky;
  top: 0;
  z-index: 300;

  &:after{
    content: '';
    display: table;
    clear: both;
  }

  > .buttons{
    float: left;

    > ul{
      list-style: none;
      padding: 0;
      margin: 0;

      > li{
        float: left;
        border-right: 1px solid fade_out(#FFF, 0.95);

        > a{
          display: block;
          padding: 0 15px 0 3.3rem;
          line-height: $topmenu-height;
          color: $topbar-color;
          //background-color: lighten($main-color, 4%);
          position: relative;
          font-weight: 400;
          text-transform: uppercase;
          border-right: 1px solid fade_out(#000, 0.9);

          > .icon{
            font-size: 1.8rem;
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-55%);
          }

          &:hover{
            background-color: lighten($main-color, 8%);
          }
        }

        &:first-child{
          > a{
            background-color: $topbar-bg;
          }
        }

        @media(max-width: $medium-size - 1){
          float: none;
          border-right: 0;
          border-bottom: 1px solid fade_out(#000, 0.9);
        }

      }
    }

    @media(max-width: $medium-size - 1){
      float: none;
    }

  }

  > .sucursales{
    float: right;
    //border-left: 1px solid fade_out(#000, .8);

    > .caption{
      float: left;
      display: block;
      width: auto;
      line-height: $topmenu-height;
      font-weight: 700;
      padding: 0 15px;
      border-left: 1px solid fade_out(#FFF, .9);
      text-transform: uppercase;
    }

    > ul {
      float: left;
      height: $topmenu-height;
      width: 120px;
      position: relative;
      overflow: hidden;

      > li{
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        opacity: 0;
        transform: translateX(100%);
        transition: ease all 550ms;

        > a{
          display: block;
          color: $main-color-inverse;
          padding: 5px 10px;

          > .name{
            display: block;
            padding: 3px 0 2px 0;
            font-weight: 700;
            color: fade_out($main-color-inverse, 0.4);
            text-transform: uppercase;
          }

          > .phone{
            display: block;
            padding: 2px 0 3px;
            font-size: 1.4rem;
          }

        }

        &.active{
          opacity: 1;
          transform: translateX(0);
        }

      }

    }

  }



  > .top-button{
    float: right;
    border-left: 0;
    //box-shadow: -1px 0 0 fade_out(#000, 0.8);

    > a{
      display:  block;
      background: url("assets/images/whatsapp.svg") no-repeat 10px;
      background-size: 28px;
      padding: 0 15px 0 46px;
      color: $topbar-color;
      height: $topmenu-height;
      padding-top: 8px;

      > .caption{
        font-size: 1.2rem;
        line-height: 1;
        display: block;
        margin-bottom: 2px;
        text-transform: none;
      }

      > .number, > .brand{
        font-size: 1.6rem;
        line-height: 1;
        font-weight: 700;
        display: block;
        text-transform: none;
      }
    }

    @media(max-width: $medium-size - 1){
      width: 50%;
      float: left !important;
      border-top: 1px solid fade_out(#FFF, 0.9);
      border-bottom: 1px solid fade_out(#000, 0.9);
    }

    @media( max-width: 334px ){
      float: none!important;
      width: 100%;
      text-align: left;
    }

  }

  > .facebook-button > a{
    background-image: url("assets/images/facebook.svg");
  }

  > .my-cart-button > a{
    background-image: url("assets/images/cart.svg") !important;
    background-color: #ffd661;
    color: #000 !important;
  }

  > .customers-button{
    margin-left: 1px;
    margin-right: 5px;
  }

  > .customers-button, > .companies-button{
    background-color: fade-out(black, 0.6);
    color: $main-color !important;

    > a{
      background-image: none;
      padding: 8px 25px 0;
      text-align: center;
    }
  }

  @media(max-width: 850px){

    > .sucursales{
      display: none;
    }

  }

  // Max width: 700px
  @media(max-width: $medium-size - 1){

    background-color: $main-color!important;
    display: none;

    > div{
      float: none!important;
    }

  }

}

#top-toggle-menu{
  background-color: $main-color;
  height: 30px;
  position: relative;
  display: none;
  clear: both;
  border: 0;
  border-top: 1px solid fade_out(#FFF, 0.9);
  width: 100%;

  > span{
    display: block;
    position: absolute;
    width: 20px;
    height: 2px;
    left: 50%;
    top: 9px;
    margin-left: -10px;
    background-color: $main-color-inverse;

    &:nth-child(2){
      top: 13px;
    }

    &:nth-child(3){
      top: 17px;
    }
  }

  @media(max-width: $medium-size - 1){
    display: block;
  }

}

/*body.home{
   #laclicsa-top-menu{

     > .customers-button, > .companies-button{
       background-color: fade-out(white, 0.7);
       border-radius: 0 0 5px 5px;

       > a{
         color: $main-color !important;
       }
     }

     > .my-cart-button > a{
       border-radius: 0 0 5px 5px;
     }

   }
 }*/