/*
Archivo con las variables del tema.
Este archivo, durante la compilación desde el tema,
será sustituido por variables dinámicas que tomarán su valor
directamente desde el panel de opciones del tema
*/

$wrap-width: 1280px;

// Responsive breakpoints
$small-size: 420px;
$medium-size: 768px;
$screen-phone: 575px;
$screen-tablet: 860px;
$screen-laptop: 1024px;
$screen-desktop: 1200px;
$nav-display-breakpoint: 1023px;

$font-family: 'Roboto', sans-serif;
$font-family-secondary: 'Roboto Condensed', sans-serif;
$font-weight: 300;

$main-color: #00316B;
$main-color-inverse: #FFF; // Para el texto sobre fondo $main-color
$submenu-bg: #333;
$submenu-color: #FFF;

$font-color: #333;
$link-color: $main-color;
$topmenu-height: 47px;
$topbar-bg: $main-color;
$topbar-color: $main-color-inverse;

$color-prices-sell: #ff5705;
$color-button-related: #0D74F5;
$border-radius: 4px;

$accent-color: #CA2026;

/*
Pages
*/
$title-padding: 0;//125px;