.woocommerce, .woocommerce-page{

  ul.products{

    li.product{
      width: 30.8%!important;
      background-color: transparent;

      &:nth-child(3n){
        margin-right: 0!important;
      }

      @media(max-width: $screen-phone){
        width: 100%!important;
        float: none;
        margin-bottom: 30px;

        a img{
          margin-bottom: 0!important;
        }

        .button{
          margin-top: 0!important;
        }

      }

    }

  }

  div.product{
    div.images{
      width: 50%!important;

      @media(max-width: $medium-size - 1){
        width: 100%!important;
        margin-bottom: 20px;
        float: none;

        img{
          width: auto!important;
          max-width: 100%;
        }

      }
    }

    div.summary{
      width: 44%!important;

      .laclicsa-indications, .laclicsa-tests{
        margin-bottom: 20px;
        text-align: left;

        p{
          margin-bottom: 10px;

        }
        ul{
          padding-left: 15px;

          > li{
            background: url("assets/images/checked.svg") no-repeat left 7px;
            background-size: 14px;
            padding-left: 20px;
            margin-bottom: 2px;
          }
        }
      }

      p.price{
        del{
          color: lighten(#000, 20%);
          font-size: 1.6rem;
        }
        ins{
          font-size: 2.3rem;
        }
      }

      @media(max-width: $medium-size - 1){
        width: 100%!important;
        float: none;
      }

    }
  }

  #customer_details{
    margin-bottom: 40px;

    .woocommerce-billing-fields{
      @media(max-width: $screen-tablet){
        border-bottom: 1px solid fade_out(#000, 0.8);
        margin-bottom: 2rem;
        padding-bottom: 2rem;
      }
    }
  }

}

// Widget de productos
.laclicsa_products_list_widget{

  table{
    border: 0;
    margin-bottom: 0;

    tbody{
      border-bottom: 0;
    }

    tr{
      border: 0;

      > td{
        padding: 4px 0;
        line-height: 1;
        border: 0;
        font-size: 1.4rem;
      }

      &:last-child{
        > td{
          font-size: 1.6rem;
        }
      }

    }
  }

  > li{

    img{
      display: block;
      margin: 0 auto 15px auto;
    }

    .product-title{
      font-size: 2rem;
      font-weight: 700;
      display: block;
    }

    del{
      color: lighten(#000, 50%);
    }

    ins{
      color: $color-prices-sell;
      font-size: 2rem;
      font-weight: 900;
    }

  }
}

.price{
  table{
    border: 0;
    margin-bottom: 0!important;

    tbody{
      border-bottom: 0;
    }

    td{
      border: 0;
      padding: 4px 0;
      line-height: 1;
      font-size: 1.3rem;
      color: fade_out(#000, 0.4);

      > del{
        opacity: 1!important;
      }

      > ins{
        font-size: 1.8rem;
        color: $color-prices-sell;
      }

      &:first-child{
        padding-right: 3px;
      }

      &:last-child{
        padding-left: 3px;
      }
    }

    .online-price > td{
      color: $main-color;
      font-size: 1.5rem;
    }
  }

  &.single{
    table{
      margin-bottom: 20px;

      td{
        font-size: 1.6rem;
      }

      .online-price > td{
        color: $main-color;

        ins{
          font-size: 2.2rem;
        }

      }
    }
  }
}

// Mensaje de membresía para precios
.membresia-price{
  font-size: 12px;
  font-size: 1.2rem;
  margin: 10px 0;
  color: $main-color;

  &.in-widget{
    background-color: $main-color;
    padding: 20px;
    font-weight: 400;
    text-align: center;
    border: 1px solid fade_out(#000, 0.9);
    font-size: 1.3rem;
    color: $main-color-inverse;

    > span{
      display: block;
    }

    .member-button{
      display: inline-block;
      padding: 4px 10px;
      font-size: 0.9em;
      text-transform: uppercase;
      font-weight: 700;
      background-color: $color-prices-sell;
      color: $main-color-inverse;
      transition: ease all 250ms;
      margin-top: 9px;

      &:hover{
        background-color: $color-prices-sell;
      }
    }
  }
}

// ONLINE PRICE LEGEND
.site-inner.pre-footer{
  padding-top: 0;

  .legend-price{
    padding-top: 0; padding-bottom: 0;
    font-style: italic;
    color: $color-prices-sell;
    font-weight: 600;
    font-size: 0.9em;
  }
}

.woocommerce-checkout #payment, {
  background: transparent!important;
  padding: 30px 0!important;

  > h4{
    text-transform: uppercase;
    text-align: center;
  }

  > ul{
    border: 0;
    margin: 0;
    padding: 0;

    @media(max-width: $screen-tablet){
      padding: 0!important;
    }

    > li{
      border: 1px solid fade_out(#000, 0.8);
      margin-bottom: 10px !important;

      label{
        cursor: pointer;
        padding: 20px;
        display: block;
        margin: 0;
        transition: ease all 100ms;

        &[for="payment_method_openpay_cards"],
        &[for="payment_method_openpay_stores"]{

          > strong {
            display: block;
            background-color: $font-color;
            color: $main-color-inverse;
            padding: 15px 20px;
            margin: -20px -20px 15px -20px;
            text-align: center;
            transition: ease all 100ms;
          }
        }
      }

      input:checked + label{
        background-color: $main-color;
        color: $main-color-inverse;

        a{
          color: $main-color-inverse;
        }

        &[for="payment_method_openpay_cards"],
        &[for="payment_method_openpay_stores"]{
          background-color: transparent;
          padding-bottom: 0;

          > strong{
            margin-bottom: 0;
            background-color: $main-color;
          }

          > img{
            display: none;
          }
        }
      }

      .payment_box{
        margin: 0;

        &.payment_method_openpay_cards{
          h5{
            font-size: 1.2rem;
            text-transform: uppercase;
            text-align: center;
          }
        }
      }
    }
  }
}