/*
Laclicsa theme containers
 */
main#lac-container{
  padding: rems(60) 0;
}

/*
Live Search Control
---
Next styles apply only for live search input control
 */
.search-your-study{
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 0 0 5px 0;
  font-size: 1.2rem;
}

.search-live-field{
  background: url('../icons/search.svg') no-repeat 10px center;
  background-size: 32px 32px;
  padding-left: 50px;
  border: 1px solid $border-color;
  line-height: rems(48);

  &::placeholder{
    color: fade_out(black, 0.7);
  }

  &.blinker{
    background-image: url('../icons/search.svg'), url('../images/loader.gif') !important;
    background-position: 10px center, right 10px center !important;
    background-repeat: no-repeat, no-repeat !important;
    background-size: 32px 32px, auto auto;
  }
}

.not-find-message{
  font-size: rems(13);
  padding: 4px 0;
  text-align: center;
  color: lighten(#000, 35%);
  margin-bottom: 30px;
}

p.lead{
  font-size: 24px;
  font-size: 2.4rem;
}

.widget_search_live_widget{
  margin-bottom: 0;
  padding-bottom: 0!important;
}

/*
PAGINATION
 */
.lacs-pagination{
  text-align: center;
  margin-top: rems(30);

  ul.page-numbers{
    @include list-unstyled;
    display: inline-block;

    > li{
      display: inline-block;

      > .page-numbers{
        display: block;
        background: #FFF;
        font-size: rems(14);
        padding: rems(5) rems(12);
        border: 1px solid fade_out(black, 0.8);
        transition: ease all 250ms;
        text-transform: uppercase;
        line-height: rems(20);

        &:hover{
          background-color: getColor("mystic");
          text-decoration: none;
        }

        &.current{
          background-color: getColor("mystic");
          font-weight: 700;
        }

        &.next, &.prev{
          font-size: rems(12);
          font-weight: 700;
        }

      }

    }
  }
}