$blue: getColor("blue") !default;
$indigo: getColor("indigo") !default;
$purple: getColor("purple") !default;
$pink: getColor("pink") !default;
$red: getColor("red") !default;
$orange: getColor("orange") !default;
$yellow: getColor("yellow") !default;
$green: getColor("green") !default;
$teal: getColor("teal") !default;
$cyan: getColor("cyan") !default;