.sidebar-widgets{

  .widget{
    margin-bottom: rems(30);
    border-bottom: 1px solid fade_out(black, 0.9);
    padding-bottom: rems(30);

    &.widget_search_live_widget{
      padding-bottom: 0;
      border-bottom: 0;
    }

    .widgettitle{
      font-size: rems(18);
      font-weight: 700;
      text-transform: uppercase;
    }
  }

}