.quality-sections {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .quality-sections:after {
    content: '';
    display: table;
    clear: both; }
