$main-color: <?php echo get_field('main-color', 'option'); ?>;
$topbar-color: <?php echo get_field('topbar-color', 'option'); ?>;
$topbar-color-home: <?php echo get_field('topbar-color-home', 'option'); ?>;
$service-button: <?php echo get_field('service-button', 'option'); ?>;

#laclicsa-top-menu{
  background-color: $topbar-color;
}
/*.home #laclicsa-top-menu{
  background-color: $topbar-color-home;
}*/
#main-services .service-column > .button{
  background: $service-button;
}